<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>GitPM</title>
    <meta name="description" content="GitPM">

    </head>
    <body>
        {% block body %}{%endblock%}
    </body>
</html>
